<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="/profiles/add/<%=data[0].id%>" method="post">
            <select name="id">
          <% data.forEach( cont => { %>
        <option value="<%=cont.id%>">
          <%=cont.username%>
        </option>
        <% }) %>
          </select>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>