<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <center>
    <h1>Welcome Bro!!</h1>
    <a href="/users"><button type="Submit" name="Users">Users</button></a>
    <a href="/profiles"><button type="Submit" name="Profiles">Profiles</button></a>
  </center>
  </body>
</html>
