<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express One To One</title>
  </head>
  <body>
    <h1>Express One to One</h1>
    <ol>
      <li><a href="/users">Users</a></li>
      <li><a href="/profiles">Profiles</a></li>
    </ol>
  </body>
</html>
