<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>index</title>
</head>
<body>
  <h1>welcome, what do you want</h1>
  <a href="/users">User Name</a>
  <a href="/profiles">Profile</a>
</body>
</html>
