<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Profile Database</h1>
    <a href="/users">Users</a><br>
    <a href="/profile">Profile</a>
  </body>
</html>
