<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<h1> halaman Users dan Profiles </h1>
<table>
  <tr>
    <th>Users</th>
    <th>Profiles</th>
  </tr>
  <tr>
    <td><a href="/users">Users</a></td>
    <td><a href="/profiles">Profiles</a></td>
  </tr>
</table>

</body>
</html>
