<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <div style="float:left;width:33%;text-align:center">
        <h1><a href="/users">Users</a></h1>
      </div>
      <div style="float:left;width:33%;text-align:center">
        <h1><a href="/Profiles">Profiles</a></h1>
      </div>
      <div style="float:left;width:33%;text-align:center">
        <h1>........</h1>
      </div>
    </div>
    <div>

    </div>
  </body>
</html>
