<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>WELCOME</title>
</head>

<body>
    <div class="title" align=center>
        <br>
        <br>
        <h1 align=center>
            <%= title %>
        </h1>
        <a href="/users">USER</a>
        <a href="/profiles">PROFILE</a>
    </div>
</body>

</html>