<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profiles Add Form</title>
  </head>
  <body>
  <center>
    <h2>ADD PROFILE</h2><br><br>
    <form action="/profiles/add" method="POST">
    Home Town:<br>
    <input type="text" name="hometown" value="">
    <br><br>
    Birth Year:<br>
    <input type="text" name="birth_year" value="">
    <br><br>
    Relationship Status:<br>
    <input type="text" name="relationship_status" value="">
    <br><br>
    <select name="user_id">
      <% dataUsers.forEach(data =>{ %>
        <option value="<%= data.id %>" selected>
          <%= data.username %>
      </option>
     <% }) %>

    </select>
    <br><br>
    <input type="submit" value="Submit">
  </form>
  </center>
  </body>
</html>
